{% extends "groups/group_base.html" %}

{% block pregroup %}
<div class="col-md-4">
	<div class="content">
		{% if user.is_authenticated %}
		<h2>
			Welcome back
			<a class="welcome-username" style="text-decoration:none" href="{% url 'posts:for_user' username=user.username %}">@{{ user.username }}</a>
		</h2>
    {% endif %}
			<h2>Groups</h2>
			<p>Welcome to the Groups Page! <br>Select a Group with a shared interest!</p>
	</div>
	{% if user.is_authenticated %}
	<a href="{% url 'groups:create' %}" class="btn btn-warning btn-lg" role="button"><span class="fa fa-plus"></span> Create New Group!</a>
	{% endif %}
</div>
{% endblock %}

{% block group_content %}
<div class="col-md-8">
	<div class="card-deck">
		{% for group in object_list %}
		<div class="card">
			<a href="{% url 'groups:single' slug=group.slug %}" class="card-img-top" style="background-image: url('{{ group.image.url }}')"></a>
			<div class="card-body">
				<a href="{% url 'groups:single' slug=group.slug %}">
					<h5 class="card-title">{{ group.name }}</h5>
				</a>
				<p class="card-text">{{ group.description_html|safe }}</p>
				<div class="d-flex justify-content-between align-items-center">
					<div class="btn-group">
						<a href="{% url 'groups:single' slug=group.slug %}" class="btn btn-sm btn-outline-secondary">View</a>
						{% if user.is_authenticated and user.profile in group.members.all %}
							<a href="{% url 'groups:leave' slug=group.slug %}" class="btn btn-sm btn-danger">Leave</a>
						{% elif user.is_authenticated %}
							<a href="{% url 'groups:join' slug=group.slug %}" class="btn btn-sm btn-success">Join</a>
						{% endif %}
					</div>
					<small class="text-muted">
						<span class="btn btn-info">
							{{ group.members.count }}
						</span> 
						<strong>member{{ group.members.count|pluralize }}</strong>
					</small>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
