{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Update Profile Page{% endblock %}

{% block content %}
<center>
  <div class="row">
    <div class="col">
      <h2>Edit Profile </h2>
      <form method="post" enctype="multipart/form-data" class="btn btn-light">
        {%  csrf_token %}
        <h5 class="text-dark mt-2">{{ form.username | as_crispy_field }}</h5>
        <h5>{{ form.first_name | as_crispy_field }}</h5>
        <h5>{{ form.last_name | as_crispy_field }}</h5>
        <h5>{{ form.email | as_crispy_field }}</h5>
        <h5 class="profile-edit-button btn px-5 mt-3 text-dark">{{ form.profile_picture | as_crispy_field }}</h5>
        <br>
        <button type="submit" class="btn btn-outline-success px-5 my-3" >Save Changes</button>
      </form>
    </div>
  </div>
</center>

{% endblock %}