<div class="media">
	<h3 class="my-3">This post is in "<a class="text-info" style="text-decoration:none" href="#">{{ post.group.name }}</a>" group</h3>

	<div class="media-body">
		<h5>{{ post.message_html|safe }}</h5>
			{% if post.group %}
			<span class="group-name btn btn-light"><strong>written by @{{ post.user.username }}</strong></span>
			{% endif %}
			<span class="btn btn-light">on</span>
			<time class="time btn btn-light text-pimary"><a style="text-decoration:none" href="{% url 'posts:single' username=post.user.username pk=post.pk %}">{{ post.created_at }}</a></time>
		</h5>
		<div class="media-footer">
			{% if user.is_authenticated and post.user == user and not hide_delete %}
				<a href="{% url 'posts:delete' pk=post.pk %}" title="delete" class="px-5 btn btn-lg btn-outline-danger text-light my-3">
					<h4>delete</h4>
				</a>
			{% endif %}
		</div>
	</div>
</div>
