<div class="media">
	<h3 class="my-3">This post is in "<a class="text-info" style="text-decoration:none" href="#">{{ post.group.name }}</a>" group</h3>

	<div class="media-body">
		<h5>{{ post.message_html|safe }}</h5>
			{% if post.group %}
			<a style="text-decoration: none;" href="{% url 'posts:single' username=post.user.username pk=post.pk %}">
				<span class="group-name btn btn-light">
					<strong>
						Author:
						<img class="small_profile_pic" src="{{ post.user.profile_picture.url }}" alt="profile img"> @{{ post.user.username }}
					</strong>
				</span>
				<time class="time"><i class="bi bi-clock"></i>{{ post.created_at }}</time>
			</a>
			{% endif %}
			{% if user.is_authenticated and post.user == user and not hide_delete %}
				<a href="{% url 'posts:delete' pk=post.pk %}" title="delete" class="btn btn-secondary py-0 px-2">
					<i class="bi bi-trash"></i>delete
				</a>
				<a href="#" title="delete" class="btn btn-secondary py-0 px-2 ml-4">
					<i class="bi bi-pencil-square"></i>edit
				</a>
			{% endif %}
		</h5>
		<hr>
	</div>
</div>
